/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
htm{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}
#header{
    background-color: #000;
    height: 46px;
    display: inline-block;

}
#nav, .subnav {
    list-style-type:none ;

}
#nav > li{
    display: inline-block;
}
#nav li{
   
    position: relative;
}
#nav > li > a {
    color:#fff;
   text-transform: uppercase; 
}
#nav li a {
    color:#fff;
    text-decoration: none;
    line-height: 46 px;
    padding: 0 24px;
    display: block;
   
}
#nav .subnav li:hover {
    display: block;
}
#nav .subnav li:hover a,
#nav >li:hover> a {
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    /*display: none;*/
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0.3 alpha);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#slider{
    
}